.preloader
  .preloader__header
    p.preloader__header__text UNUSUAL, NOT USUAL
  .preloader__number
    p.preloader__number__text 0%
  .preloader__footer
    p.preloader__footer__text UNOFICIAL, INSPIRED BY DÉPLACÉ MAISON, FOR PRACTICE PURPOSE ONLY
