@font-face {
  font-family: $font-oswald;
  src: url('../fonts/oswald-regular.woff2') format('woff2'),
      url('../fonts/oswald-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-michroma;
  src: url('../fonts/michroma.woff2') format('woff2'),
      url('../fonts/michroma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
