.home {
  @extend %page;

  font-family: $font-oswald;
  font-size: 20rem;
  word-break: break-all;
  background-color: #fcf9ee;

  &--active {
    @extend %page--active;
  }
}

.home__content {
/*   @extend %content; */

  height: 350rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 12rem 0 0 25rem;
}

.home__titles {
  width: 140rem;
  font-family: $font-michroma;
  font-size: 18rem;
  letter-spacing: -1.5rem;
  line-height: 22rem;
  color: #141414;
}

.home__titles__title {
  &:nth-child(1) {
    text-align: end;
  }
}

.char {
  display: inline-block;
}

.home__gallery {
  width: 140rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__gallery__media {
  height: 80.5rem;
  width: 65rem;
  border: 3px solid #141414;
}

.home__gallery__media__image {
  height: 80rem;
  width: 65rem;
  object-fit: cover;
}

.home__explore__button {
  width: 120rem;
  text-align: end;
  color: #141414;
  font-family: $font-michroma;
  font-size: 2.5rem;
  text-align: end;
}

.home__explore__button__link {

}

.home__marquee {
  width: 540rem;
  height: 10rem;

  display: flex;

  border: 3px solid #141414;
  background-color: #ddc92a;
  color: #141414;
  font-size: 5rem;
}

.home__marquee__wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  will-change: transform;
  -webkit-animation: marquee 45s linear infinite;
          animation: marquee 45s linear infinite;
}
/* .home__extras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} */

.home__extras__about-us {
  text-align: justify;
}

.home__extras__about-us__text {
  font-family: $font-michroma;
  font-size: 5rem;
  color: #141414;
}

.home__extras__about-us__text_span {
  font-size: 3rem;
  padding-right: 12rem;
  text-decoration: underline;
}

.home__extras__preview {
  width: 140rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__extras__preview__item {
  height: 70rem;
  width: 60rem;
  border: 3px solid #141414;
}

.home__extras__preview__item__image {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.home__extras__shop__button {
  width: 120rem;
  font-family: $font-michroma;
  font-size: 2.5rem;
  color: #141414;
  text-align: end;
}

.home__extras__shop__button__link {
}

.home__footer {
  width: 200rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f7f4ea;

  font-size: 5rem;
  color: #141414;

  padding: 4rem 4rem;

  margin-right: 20rem;
}

.home__footer__top {
  height: 40rem;
  display: flex;
}

.home__footer__top__newsletter {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.home__footer__top__info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home__footer__top__info__title {
  font-size: 2rem;
  color: #242424;
}

.home__footer__top__info__link {
  font-size: 4rem;
}

.home__footer__top__policy {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home__footer__top__policy__title {
  font-size: 2rem;
  color: #242424;
}

.home__footer__top__policy__link {
  font-size: 4rem;
}

.home__footer__top__back {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home__footer__bottom {
  display: flex;
  font-size: 2rem;
  color: #242424;
}

.home__footer__bottom__newsletter {
  flex: 2;
}

.home__footer__bottom__credits {
  flex: 1;
}

.home__footer__bottom__rights {
  flex: 1;
}

.home__footer__bottom__media {
  flex: 1;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
